<h3><%=@recipe.name%></h3>
<label>Ingredients: </label>
<p><%=@recipe.ingredients%></p>

<label>Categories:</label>
<%@recipe.categories.each do |category|%>
<p><a href="/categories/<%=category.slug%>"><%=category.name%></a></p>
<%end%>

<label>Chef: </label>
<p><a href="/users/<%=@recipe.user.slug%>"><%=@recipe.user.name%></a></p>

<%if current_user.id == @recipe.user_id%>
<input type="button" class = "btn" value="Edit Your Recipe" onclick="window.location.href='/recipes/<%=@recipe.slug%>/edit'">
<br>
  <form action="/recipes/<%=@recipe.slug%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" class="btn-delete" value="Delete Your Recipe"></div>
  </form>
  <% else %>
<%end%>
