<h2><%=@recipe.name%></h2>
<strong>Chef: </strong>
<a href="/users/<%=@recipe.user.slug%>"><%=@recipe.user.name%></a>
<br></br>
<strong>Ingredients: </strong>
<%=@recipe.ingredients%>
<br></br>
<strong>Categories:</strong>
<%@recipe.categories.each do |category|%>
<br><a href="/categories/<%=category.slug%>"><%=category.name%></a>
<%end%>

<%if current_user.id == @recipe.user_id%>
<br></br>
<input type="button" value="Edit Your Recipe" onclick="window.location.href='/recipes/<%=@recipe.slug%>/edit'">
<br></br>
  <form action="/recipes/<%=@recipe.slug%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recipe">
  </form>
  <% else %>
  <p>
<%end%>
