<h2><%=@recipe.name%></h2>
<strong>Chef: </strong>
<a href="/users/<%=@recipe.user.slug%>"><%=@recipe.user.name%></a>
<br></br>
<strong>Ingredients: </strong>
<%=@recipe.ingredients%>
<br></br>
<strong>Categories:</strong>
<%@recipe.categories.each do |category|%>
<br><a href="/categories/<%=category.slug%>"><%=category.name%></a>
<%end%>

<%if current_user.id == @recipe.user_id%>
  <h3><a href="/recipes/<%=@recipe.slug%>/edit">Edit Your Recipe</h3>
  <form action="/recipes/<%=@recipe.slug%>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Recipe">
  </form>
<%end%>

<p><a href ="/recipes">See All Recipes</a></p>
<%if logged_in?%>
<p><a href ="/logout">Log Out</a></p>
<%else%>
<p><a href ="/login">Log In</a></p>
<%end%>
