<h2><%=@recipe.name%></h2>
<strong>Chef: </strong>
<%=@recipe.cook.name%>
<strong>Ingredients: </strong>
<%=@recipe.ingredients%>
<br>
<strong>Categories:</strong>
<%@recipe.categories.each do |category|%>
<br>---------------- <%=category.name%>
<%end%>

<h3>Edit Recipe</h3>

<form action="/recipes/<%=@recipe.slug%>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name: </label><input type="text" name="recipe[name]" value="<%=@recipe.name%>">
  <label>Ingredients: </label><input type="text" name="recipe[ingredients]" value="<%=@recipe.ingredients%>">
  <label><p><strong>Category: </p><%Category.all.each do |category|%></strong></label>
  <label><%=category.name%></label>
  <input type="checkbox" name="recipe[category_ids][]" value="<%=category.id%>" id="<%= category.name %>" <%='checked' if @recipe.categories.include?(category) %>> / </input>

<%end%>
<p>And/or Create New Category: <input type="text" name="category[name]" id="new_category"></input></p>
  <input type ="submit" value="Edit Recipe">
</form>

<p><a href ="/recipes">See All Recipes</a></p>
<%if logged_in?%>
<p><a href ="/logout">Log Out</a></p>
<%else%>
<p><a href ="/login">Log In</a></p>
<%end%>
